/**************************************************************
==========================================================
== Project    :  HelloMaps
== Created by : Shubaham Goswmai
==========================================================
***************************************************************/

.my_map{
	width:100%; 
	height:650px;
	border-radius: 8px;
}
